---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content | truncatewords:25}}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {{ post.date | date:"%Y-%m-%d"}}
    </article>
  {% endfor %}
</div>


{% for category in site.categories %}
<h2>{{ category | first }}(posts:{{ category | last | size }})</h2>
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
