/* LAYOUT CSS */

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}
.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
}

.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"Microsoft YaHei", "微软雅黑",STXihei, "华文细黑",serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #666;
  font-family: "Microsoft YaHei", "微软雅黑",STXihei, "华文细黑",serif;
  font-size: 16px;
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;

  a {
    margin-left: 20px;
    color: #333;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }
}




.cover {
  background-color: #454260;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 20px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px 50px;
  }
  @include media-query($medium-screen) {
    background-image: url("../img/beauty.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $white;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
    @include media-query($medium-screen) {
      display: none;
    }
  }
  .author_name {
    display: block;
    color: #dce3ef;
    font-size: 3em;
    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;
    @include text-shadow;
  }
  .author_job {
    display: block;
    color: #8d7edc;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -10px auto 20px;
    @include text-shadow;
  }
  .author_bio {
    display: block;
  }
  @include media-query($medium-screen) {
    margin: 0 auto;
    padding: 0 20px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}
